@model IEnumerable<AccountViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Счета</h2>
        <ul>
            <li>Номер Остаток Тип лица Владелец</li>
            @foreach (AccountViewModel account in Model)
            {
                <li> @account.Number @account.Saldo @account.OwnerType @account.OwnerName</li>
            }
        </ul>
    </div>

</div>
